.tile {
    border: 5px solid darkgreen;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    
}

.row {
    display: flex;
}

#board-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

body {
    background-color:beige
}